/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e61414;
}

/* Header */
header {
    background-color: #333;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Hero Section */
.hero {
    background: url("{{ url_for('static', filename='images/gym_logo.png') }}") no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff6347;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #e53e30;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
